body {
	margin:0;
	background-image: url("picture1.jpg");
	background-size: cover; 
}

#header {
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 70;
	margin-left: 1.5%;
}

#navbar {
	font-family: Segoe UI Light;
	list-style-type: none; 
	margin-left: 1.5%;
	margin-right: 1.5%;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	box-shadow: 5px 5px 8px #191c19;
	position: sticky;
	top: 0;
}

#navbar li {
	float: left;
}

#navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#navbar li a:hover {
	background-color: #111;
}

#active {
	background-color: #428762;
} 

#panel {
	padding: 1%;
	border-radius: 10px;
	font-family: Segoe UI Light;
	background-color: #428762;
	width: 40%;
	margin-left: 30%;
	text-align: center;
	box-shadow: 7px 7px 8px #191c19;
}
